h1 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(238, 18, 47); 
}

#parr1 {
font-family: Verdana, Geneva, Tahoma, sans-serif;
font-size: 20px;
color: rgb(236, 144, 6);
}
#parr2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    color: rgb(238, 18, 47);
    }
#parr3 {
font-family: Verdana, Geneva, Tahoma, sans-serif;
font-size: 20px;
color: rgb(236, 144, 6);
}
#parr4 {
font-family: Verdana, Geneva, Tahoma, sans-serif;
font-size: 20px;
color: rgb(236, 144, 6);
}
#parr5 {
font-family: Verdana, Geneva, Tahoma, sans-serif;
font-size: 20px;
color: rgb(236, 144, 6);
}
#parr6 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    color: rgb(238, 18, 47);
}       
#parr7 {
font-family: Verdana, Geneva, Tahoma, sans-serif;
font-size: 20px;
color: rgb(236, 144, 6);
}
#parr8 {
font-family: Verdana, Geneva, Tahoma, sans-serif;
font-size: 20px;
color: rgb(236, 144, 6);
}
#parr9 {
font-family: Verdana, Geneva, Tahoma, sans-serif;
font-size: 20px;
color: rgb(236, 144, 6);
}
#parr10 {
font-family: Verdana, Geneva, Tahoma, sans-serif;
font-size: 20px;
color: rgb(236, 144, 6);
}
#parr11 {
font-family: Verdana, Geneva, Tahoma, sans-serif;
font-size: 20px;
color: rgb(238, 18, 47);
}
#parr12 {
font-family: Verdana, Geneva, Tahoma, sans-serif;
font-size: 20px;
color: rgb(236, 144, 6);
}
#parr13 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    color: rgb(236, 144, 6);
}
#parr14 {
font-family: Verdana, Geneva, Tahoma, sans-serif;
font-size: 20px;
color: rgb(236, 144, 6);
}
#parr15 {
font-family: Verdana, Geneva, Tahoma, sans-serif;
font-size: 20px;
color: rgb(236, 144, 6);
}
#parr16 {
font-family: Verdana, Geneva, Tahoma, sans-serif;
font-size: 20px;
color: rgb(236, 144, 6);
}
#parr17 {
font-family: Verdana, Geneva, Tahoma, sans-serif;
font-size: 20px;
color: rgb(236, 144, 6);
}
#container {
width: 800px;
height: 800px;
background-color: rgb(10, 178, 245);
margin-left: auto;
margin-right: auto;
}