h3 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(13, 88, 226); 
}
#parr1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}
    
#parr2 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    color: rgb(2, 191, 248);
}
#parr3 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    color: rgb(2, 191, 248);
}
#parr4 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    color: rgb(2, 191, 248);
}
#parr5 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    color: rgb(2, 191, 248);
}
#parr6 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    color: rgb(2, 191, 248);
}
#parr7 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    color: rgb(2, 191, 248);
}
#parr8 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    color: rgb(2, 191, 248);
}
#parr9 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    color: rgb(2, 191, 248);
}
#parr10 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    color: rgb(2, 191, 248);
}
#parr11 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    color: rgb(2, 191, 248);
}
#parr12 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    color: rgb(2, 191, 248);
}
#parr13 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    color: rgb(2, 191, 248);
}
#parr1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    color: rgb(2, 191, 248);
}
#parr14 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    color: rgb(2, 191, 248);
}
#parr15 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    color: rgb(2, 191, 248);
}
#parr16 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    color: rgb(2, 191, 248);
}
#parr17 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    color: rgb(2, 191, 248);
}#parr18 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    color: rgb(2, 191, 248);
}
.img1 {
    width: 300px;
    height: 300px;
}

#container {
    width: 4000px;
    height: 5000px;
    background-color: rgb(221, 17, 17);
    margin-left: auto;
    margin-right: auto;
    }